.principal{
    margin: 2rem auto;
    padding: 0 4rem;
    max-width: 1200px;
}

.principal__title{
    font-family: "Fjalla One", sans-serif;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #1b1b1b;
    letter-spacing: 1px;
}

.principal__card{
    display: flex;
    flex-direction: column;
}

.principal__card:not(:nth-of-type(1)){
    padding-top: 2rem;
    margin-top: 1rem;
}

.principal__card__presentation{
    margin-bottom: 1rem;
}

.principal__card__presentation__title{
    font-size: 1.5rem;
    color: #323232;
}

.principal__card__presentation__link{
    font-size: 1.25rem;
    color: #42a5f5;
    transition: color .25s;
}

.principal__card__presentation__link:hover, .principal__card__presentation__link:focus{
    color: #2196f3;
}

.principal__card__presentation__link:active{
    color: #1e88e5;
}

.principal__card__grid-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
}

.principal__card__grid-images.principal__card__grid-images--one{
    grid-template-columns: repeat(1, 1fr);
}

@media(max-width: 1200px){
    .principal__card__grid-images{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(max-width: 600px){
    .principal{
        padding: 0 2rem;
    }
}

.principal__card__grid-images__certification{
    width: 100%;
    border-radius: .375rem;
    transition: opacity .25s;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
}

.principal__card__grid-images__certification:focus, .principal__card__grid-images__certification:hover{
    opacity: .95;
}
